// Single-line comment blocks (SCSS, JavaScript)
//= require peoplefinder/application
//= require_tree .
//= require_self

#global-header .header-wrapper .header-global {
  height: 36px;
  .header-logo {
    background-image: image-url('crest.png');
    background-repeat: no-repeat;
    background-size: 55px 36px;

    #logo {
      padding-left: 55px;
      font-size: 28px;
      font-weight: normal;
      position: relative;
      top: 4px;
    }

    width: 45%;
    padding-right: 0;
    height: 36px;
  }

  .header-app-name {
    width: 20%;
    margin-top: 6px;
    font-weight: normal;
  }

  #log-in-out {
    width: 29%;
    height: 36px;
    margin: 0;
    margin-top: 8px;
    line-height: 36px;
  }
}

// override things that don't inherit their font
html,
body,
button,
input,
table,
td, th,
.form-control,
.form-label,
.form-label-bold,
#global-cookie-message p,
button.button,
table th,
table td {
  font-family: Helvetica;
}
